
.user-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    width: 100%;
    max-width: 1200px;
    gap: 2em;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
}
.close__form{
    transform: translateX(-100%);
}
.App__btn{
    font-size: 1.2rem;
    color: white;
    padding: 0.5em 2em;
    background-color:#061efa;
}
.App__user{
    text-align: center;

}
.form-container{
    position: fixed;
    width: 100%;
    min-width: 100vh;
    background-color: rgba(250, 249, 249, 0.011);
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    transition: transform 200ms;
}
